*{
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	font-family: "SimHei","Microsoft Yahei","Arial";
	color: #666;
	background: #eeedec;
}
table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
tr td,tr th{ 
	border:1px #dddddd solid;
}
/*   头部   */
header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	background: #2189bf;
	z-index: 999;
}
.logo{
	margin-left: 22%;
	margin-top: 10px;
	float: left;
}
.head-search{
	width: 20%;
	float: right;
	margin-top: 13px;
	margin-right: 30px;
}
.head-search input{    
	background: #fff url(../image/zoom.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 6px 10px 6px 32px;
	width: 100%;
	border-radius: 10em;
}
.login{
	height: 16px;
	float: right;
	margin-right: 10%;
	margin-top: 20px;
}
.login a{
	text-decoration: none;
}
.login span{
	float: right;
	margin-top: 2px;
	margin-left: 2px;
	color: #fff;
	display: block;
}
/*   页面主体  */
.container{
	width: 1280px;
	overflow:hidden;
	margin: 0 auto;
	margin-top: 60px;
	background: #2a2e3d;
}
/*   左侧  */
.info{
	width: 260px;
	height: 20px;
	float: left;
}
.user{
	overflow: hidden;
	margin-left: 15%;
	margin-top: 20px;
}
.mark-out{
	position: relative;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 1px solid #eeedec;
	float: left;
}
.mark-in{
	position: absolute;
	left: 3px;
	top: 3px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #eeedec;
}
.user span{
	display: block;
	float: left;
	margin-left: 10%;
	margin-top: 20px;
	font-size: 16px;
	color: #fff;
}
.num{
	overflow: hidden;
	margin-left: 15%;
	margin-top: 10px;
}
.num span{
	display: block;
	float: left;
	margin: 10px 10px 10px 20px;
	padding-right: 30px;
	color: #67778b;
	font-size: 14px;
}
.nav{
	margin-top: 10px;
	color: #67778b;
}
.nav ul{
	list-style:none; 
}
.nav ul li{
	padding-left: 15%;
	padding-top: 10px;
}
.nav ul li:hover{
	background: #383d4e;
}
.li-cur{
	background: #383d4e;
}
.ul-first{
	padding-bottom: 20px;
}
.ul-first a{
	margin-left: 10px;
}
.li-selected{
	color: #fff;
}

/*   右侧  */
.main{
	width: 1020px;
	float: left;
	background: #eeedec;
}
/* 面包屑导航*/
.crumbs{
	padding-left: 30px;
	width: 100%;
	height: 30px;
	background-color: #fff;
}
.crumbs a{
	color: #999;
	line-height: 30px;
	text-decoration: none;
}

.main-wrapper{
	width: 80%;
	margin: 0 auto;
	margin-top: 25px;
}

/* 查询 */

.search{
	width: 100%;
	height: 87px;
	margin-bottom: 25px;
	background-color: #fff;
	box-shadow: -1px -1px 1px #999;
}
.search-wrapper{
	margin-left: 3%;
	padding-top: 15px;
}
.search1,.search2,.search3,.search4{
	position: relative;
	float: left;
	margin-right: 30px;
}
select {
	/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
	border: solid 1px #999;
	/*很关键：将默认的select选择框样式清除*/
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	
	margin-left: 10px;
	margin-bottom: 5px;
}
.select-short{
	width: 71px;
	padding: 3px 20px 3px 10px;
}
.select-long{
	width: 120px;
	padding: 3px 19px 3px 10px;
}
.black_arrow{
	/*在选择框的最右侧中间显示小箭头图片*/
	background: url("../image/black_arrow.png") no-repeat right 6px center transparent;
}
.blue_arrow{
	/*在选择框的最右侧中间显示小箭头图片*/
	background: url("../image/blue_arrow.png") no-repeat right 6px center transparent;
}
.search2-change,.search2-select{
	float: left;
}
.search2-change{
	position: relative;
	padding-top: 7px;
}
.search2-change span{
	position: absolute;
	top: 12px;
	left: 12px;
	color: #fff;
}
.search3 input{
	width: 87px;
	margin-left: 10px;
	padding: 3px 19px 3px 10px;
}
.search-button{
	width: 36px;
	height: 20px;
	background-color: #2189bf;
	margin-top: 15px;
	padding-left: 8px;
	padding-top: 4px;
}
.search-button span{
	color: #fff;
}


/* 历史查询 */
.history{
	position: relative;
	width: 100%;
	height: 67px;
	margin-bottom: 25px;
}
div[class^="history-"]{
	float: left;
	height: 100%;
	background-color: #fff;
	box-shadow: 0px -1px 1px #999;
	box-sizing: border-box;
}
.history-short{
	width: 30px;
	margin-right: 8px;
}
.history-middle{
	width: 95px;
	margin-right: 8px;
}
.history-long{
	width: 121px;
}
.history-short p{
	margin-left: 6px;
	margin-top: 15px;
	font-size: 32px;
	color: #CCC;
}
.history-middle p,strong{
	margin-left: 23px;
	margin-top: 15px;
}
.history-middle span{
	font-size: 21px;
	color: #ec6602;
}
.history-middle:hover{
	border-top: 3px solid #2189bf;
}
.history-middle-select{
	width: 95px;
	margin-right: 8px;
	border-top: 3px solid #2189bf;
}
.history-long img{
	margin-left: 20px;
	margin-top: 18px;
}
.history-long p{
	margin-top: -25px;
	margin-left: 60px;
}

/* 统计 */
.statistics{
	width: 100%;
	height: 95px;
	margin-bottom: 25px;
}
.statistics ul{
	list-style: none;
}
.statistics ul li:nth-child(1){
	border-left-color: #43b29d;
}
.statistics ul li:nth-child(1)::after{
	background: #43b29d;
}
.statistics ul li:nth-child(2){
	border-left-color: #388ac1;
}
.statistics ul li:nth-child(2)::after{
	background: #388ac1;
}
.statistics ul li:nth-child(3){
	border-left-color: #d04b36;
}
.statistics ul li:nth-child(3)::after{
	background: #d04b36;
}
.statistics ul li:nth-child(4){
	margin: 0;
	border-left-color: #e2cd46;
}
.statistics ul li:nth-child(4)::after{
	background: #e2cd46;
}
.statistics ul li::after {
	content: '';
	position: absolute;
	width: 60px;
	height: 47px;
	top: 12px;
	right: 15px;
}
.statistics li{
	position: relative;
	float: left;
	width: 182px;
	height: 71px;
	margin-right: 29px;
	border: 1px solid #d8d9db;
	border-left: 4px solid;
	padding: 12px 0 0 8px;
	line-height: 24px;
	color: #323333;
	background: #fff;
	box-sizing: border-box;
}
/* 遮挡层 */
.block{
	width: 100%;
	height: 41px;
	line-height: 40px;
	padding-left: 20px;
	color: #aaa;
	background-color: #f4f5f6;
	box-sizing: border-box;
	border-radius:10px 10px 0px 0px;
}
/* 第一组 */
.first-left{
	width: 59%;
	height: 360px;
	margin-bottom: 25px;
	margin-right: 15px;
	float: left;
	box-sizing:border-box;
	border: 1px solid #ced1d4;
	border-radius:8px;
	background-color: #fff;
}
.first-left ul{
	list-style: none;
}
.first-left ul li{
	float: left;
	margin-right: 3px;
	cursor: pointer;
	width: 86px;
	height: 27px;
	display: block;
	text-align: center;
	line-height: 27px;
	background: #ededf0;
	border: 1px solid #ededf0;
	border-radius: 5px 5px 0 0;
	color: #535353;
	box-sizing: border-box;
}
.first-left ul li:hover{
	background-color: #fff;
	border: 1px solid #eee;
	border-bottom: none;
	z-index: 1;
}
.first-li-select{
	background-color: #fff !important;
	border: 1px solid #eee !important;
	border-bottom: none !important;
	z-index: 1;
}
.first-tab{
	margin-left: 18px;
	margin-top: 10px;
}
.tab-menu{
	width: 420px;
	height: 220px;
	margin-left: 18px;
	margin-top: 36px;
	padding: 30px 10px 10px 10px;
	border: 1px solid #eee;
}
.tab-menu table {
	line-height: 28px;
}
.first-right{
	width: 39%;
	height: 360px;
	margin-bottom: 25px;
	float: right;
	box-sizing:border-box;
	border: 1px solid #ced1d4;
	border-radius:8px;
	background-color: #fff;
}
.project-wrapper{
	width: 100%;
	height: 100%;
	padding-left: 30px;
	padding-top: 10px;
	line-height: 18px;
}
.project-border-bottom{
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 4px;
	padding-left: 14px;
}
.p-title{
	color: #aaa;
}
.project-title {
	width: 233px;
}
.project-price{
	position: relative;
	width: 273px;
	overflow: hidden;
}
.project-price span{
	float: left;
	display: block;
	padding-right: 50px;
	margin-right: 10px;
}
.project-price hr{
	position: absolute;
	top: 0px;
	left: 90px;
	height: 40px;
	border: 1px solid  #e7e7e7;
}
.project-describe{
	width: 233px;
	height: 150px;
}
.project-search{
	margin-top: 12px;
}
.project-search *{
	float: left;
}
.project-search p{
	margin-top: -2px;
}
.project-search div{
	margin-top: -8px;
	margin-left: 118px;
}
/* 日历 */
.calendar{
	width: 39%;
	height: 360px;
	margin-bottom: 240px;
	margin-right: 15px;
	float: left;
	box-sizing:border-box;
	border: 1px solid #ced1d4;
	border-radius:8px;
	background-color: #fff;
}
.calendar-wrapper{
	width: 100%;
	height: 100%;
	padding: 10px 20px 20px 20px;
}
.calendar ul{
	list-style: none;
}
.calendar ul li{
	float: left;
	margin-right: 10px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #aaa;
}
.calendar ul li span{
	position: relative;
	float: right;
	width: 20px;
	height: 20px;
	border-left:  1px solid #eee;
}
.calendar ul li a{
	position: absolute;
	top: 7px;
	left: 7px;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid #999;
}
.calendar ul li:nth-child(1){
	width: 60px;
}
.calendar ul li:nth-child(2){
	width: 55px;
}
.calendar ul li:nth-child(3){
	width: 75px;
}
.calendar ul li:nth-child(4){
	width: 50px;
}

.week ol{
	list-style: none;
}
.week ol li{

	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	display: block;
	float: left;
	width: 40px;
	height: 28px;
	text-align: center;
	border-top: 1px solid #2189bf;
	border-bottom: 1px solid #aaa;
}
.day p{
	float: left;
	width: 40px;
	height: 40px;
	font-size: 12px;
	text-align: center;
	box-sizing: border-box;
}
.day p span{
	display: block;
}
.day p b.holiday, .day p:nth-child(7n) span, .day p:nth-child(7n+6) span {
	color: #cd3539;
}
.day p:not(:empty):hover, .day p.make {
    border: 1px solid #f5c21d;
    cursor: pointer;
}
/* 排行 */
.rank{
	width: 59%;
	height: 360px;
	float: right;
	box-sizing:border-box;
	border: 1px solid #ced1d4;
	border-radius:8px;
	background-color: #fff;
}
.rank-table{
	padding: 15px 30px 10px 30px;
}
.rank table{
	line-height: 24px;
}
.rank table td:nth-child(1) {
	width: 60px;
}
.rank table td:nth-child(2) {
	width: 80px;
}
.rank table tr:hover{
	background-color: #eee;
}
.progress_bar{
	display: inline-block;
	width: 168px;
	height: 4px;
	background: #dcdcdc;
	position: relative;
	top: -1px;
	margin-left: 10px;
}
.rank table tr:nth-child(-n+4) p {
	background: #ec6d51;
}
.rank table tr:nth-child(n+5) p {
	background: #7ecaf0;
}
.progress_bar p{
	height: 4px;
}
.w80_perc{
	width: 80%;
}
.w70_perc{
	width: 70%;
}
.w60_perc{
	width: 60%;
}
.w55_perc{
	width: 55%;
}
.w50_perc{
	width: 50%;
}
.w40_perc{
	width: 40%;
}
.w35_perc{
	width: 35%;
}
.w30_perc{
	width: 30%;
}
.w28_perc{
	width: 28%;
}
.w25_perc{
	width: 25%;
}
.clear{
	clear: both;
}