*{
	margin: 0;
	padding: 0;
}

h2{
	margin: 0 0 20px 0;
}
h3{
	margin: 0 0 15px 0;
	color: #B3B1B1;
}
p{
	font-size: 13px;
	line-height:25px;
}

#main{
	width: 70%;
}
.content{
	padding: 25px 25px 25px 25px;
	background-color: #EDECEC;
}

header{
	background: #353333;
}
footer{
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	background: #353333;
}

header img {
	width: 120px;	
}

header ul{
	float: right;
}

header ul li{
	float: right;
	margin-right: 16px;
	line-height: 60px;
	font-size: 10px;
}

header ul li a {
	color: #FBF9F9;
	text-decoration: none;
	text-decoration-line: none;
}

article{
	margin-bottom: 25px;
	padding: 25px 25px 25px 25px;
	background: #FEFCFC;
	box-shadow:2px 2px 5px #333333;
}

article img{
	margin: 25px 0 25px 0;
}
article ul{
	margin-left: 25px;
	list-style: none;
}

.imglist{
	width: 10%;
	margin: 0 0 25px 50px;
	padding: 10px 10px 0px 10px;
	border:1px solid #989696;
}
.imglist img{
	width: 100%;
}
.imglist p{
	margin: 0;
	text-align: center;
}

.info{
	margin: 0 0 15px 0;
	color: #B3B1B1;
}

table{
	margin-top: 10px;
	width: 100%;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	font-size: 13px;
}

table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}

.tdhead{
	background-color: #504E4E;
	color: #fff;
}
.tdfoot{
	background-color: #C7C7C7;
}

.tip{
	margin: -15px 0 10px 35%;
	padding-left:15px;
	color: #CAC9C9;
}
input,select,textarea{
	margin-bottom: 15px;
}
label{
	float:left;           /*添加后个人描述四个字才和文本域上对齐*/
    text-align:right;
    width:35%;
    padding-right:15px;
}
button{
	width: 100%;
	height: 50px;
	background: #5272B3;
	border-radius:12px;
	color: #fff;
	font-size: 14px;
}